
<img height="200px" width="1600px" src="https://c1.wallpaperflare.com/preview/899/448/845/friends-together-friendship-community.jpg" alt="">
<div class="container" style="background-image:url(https://www.nawpic.com/media/2020/3-best-friends-nawpic.png) ;">
    <div class="row">
        
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" >


            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Friends Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Nick Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Description</label>
                    <textarea name="" id="" cols="30" rows="5" class="form-control"></textarea>
                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button class="btn btn-info">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
